@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;

}

header{
    display: flex;
    padding: 10px 50px;
    justify-content:space-between;
    position:fixed;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
}
header h1{
    color: #555;
    align-self:start;
}

header h1::first-letter{
    font-size: 1.5em;
}

header h1 span{
    color:#7d2ae8 ;
}

.navigation a{
    text-decoration: none;
    color: #555;
    margin-right: 20px;
    transition: .3s;
}

.navigation{
   margin-left: -300px;
}

nav a{
   position: relative;
   padding: 5px;
}

nav a::after{
   content: " ";
   position: absolute;
   left: 0;
   bottom: 0;
   height: 3px;
   border-radius: 10px;
   background-color: #7d2ae8;
   width: 0; 
   transition: width .3s ease;
}

nav a:hover::after{
   width: 100%;
}


.navigation a:hover{
    color: #7d2ae8;
}

.btn-talk{
    color:#fff;
    text-decoration: none;
    padding: 8px 35px;
    background-color: #7d2ae8;
    font-size: .8em;
    font-weight:500;
    border: 2px solid #7d2ae8;
    border-radius: 10px;
    transition: .3s;
}

.btn-talk:hover{
    background-color: transparent;
    color: #7d2ae8;
    font-weight: bold;
    padding: 8px 35px;
}

.home{
    width: 100%;
    height: 100vh;
    background:url(/img/img.png);
    background-repeat: no-repeat;
    background-position: right bottom; 
    background-size: 680px;
    display: flex;
    align-items: center;
 }

 .content{
    max-width: 800px;
    padding: 30px 100px;
 }

 .content h1{
    font-size: 2em;
 }

 #hi{
    opacity: .8;
    color:black;
 }


 .content h2{
    font-size: 1.4em;
    opacity: .8;
 }

 .typing-text{
   position: relative;
}

.typing-text:before {
   content: "Frontend Developer";
   color:  #555;
   animation: words 20s infinite;
}

.typing-text:after {
   content: "";
   background-color: black;
   position: absolute;
   width: calc(70%+5px);
   height: 80%;
   border-left: 3px solid black;
   right: 300px;
   animation: cursor .8s infinite;
}

@keyframes cursor {
   to {
       border: 3px solid  #555;
   }
}

 @keyframes words {

   0%,
   20% {
       content: "Web Developer"
   }

   21%,
   40% {
       content: "Python Developer"
   }

   41%,
   60% {
       content: "Web Designer"
   }
}


 .content h1{
    color: #7d2ae8;
 }

 .content p{
    font-size:1em;
    color: #555;
    font-weight: 550;
    margin: 25px 0px;
 }

 .btn-group{
    display:flex;
    column-gap: 25px;
 }

 .btn-group a{
    text-decoration: none;
    color: #555;
 }

 .btn-group :nth-child(1){
    background-color: #7d2ae8;
    border: 2px solid #7d2ae8;
    font-size: .8em;
    font-weight:500;
    color: #fff;
    padding: 8px 35px;
    border-radius: 10px;
    transition: .3s;
 }

 .btn-group :nth-child(1):hover{
    background-color: transparent;
    color: #7d2ae8;
    font-weight: bold;
 }

 .btn-group :nth-child(2){
    background-color:transparent;
    font-size: .8em;
    font-weight:600;
    color: #7d2ae8;
    border: 2px solid #7d2ae8;
    padding: 8px 30px;
    border-radius: 10px;
    transition: .3s;
 }

 .btn-group :nth-child(2):hover{
    background-color: #7d2ae8;
    color: #fff;
    font-weight: 500;
 }

 .icon{
   position: absolute;
   bottom: 50px;
 }

 .icon a{
    height: 40px;
   color: #fff;
   display: inline-block;
   width: 36px;
   padding-top: 4px;
   background-color: #7d2ae8;
   margin-right: 22px;
   border-radius: 50%;
   text-align: center;
   line-height: 40px;
   transition: .3s;
 }

 .icon a i{
   text-align: center;
   border: 1px solid #fff;
   border-radius: 50%;
   padding: 5px;
 }

 .icon a:hover{
   transform: translateY(-5px);
 }
